.youcaptcha-img {
    margin: 5px;
    width: 100px;
    height: 100px;
}  

.youcaptcha-p {
    text-align: left;
}

.youcaptcha-div {
    max-width: 800px;
}

#demo {
    margin-top: 0px;
    width: 400px;
}

.Container {
    width: fit-content;
}

.captcha-row {
    flex-wrap: nowrap !important;
    justify-content: center;
}

.device {
    border: 1px solid rgba(182, 185, 188, 0.6);
    border-radius: 1rem;
    background-color: white;
}

.completed {
    background-color: white;
}

.captcha-shadow {
    box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);
}

.title {
    margin-top: 1.5rem;
    margin-bottom: 0rem;
}

.selected {
    border-style: solid;
    border-color: #007bff;
    border-width: 5px;
}

.cell {
    margin: 0 10px 0 10px;
}

.ending {
    justify-content: space-between !important;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.captcha-error{
    padding-left: 1.2rem;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    background-position: left 0 center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
}