.captcha-row {
    flex-wrap: nowrap !important;
}

.youcaptcha-description {
    display: flex;
    width: 210px;
    margin: 0 5px 0 5px;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.youcaptcha-ad {
    top: 10px;
    justify-content: space-evenly;
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: 480px;
    width: 280px;
    height: 280px;
    font-size: 14px;
}

.youcaptcha-ad-text {
    height: 120px;
    overflow-y: hidden;
}

.youcaptcha-hide {
    opacity: 0;
}

.youcaptcha-image-container {
    display: flex;
    width: 120px;
    height: 120px;
}

.youcaptcha-image-container > img {
    position: absolute;
}

.youcaptcha-image-container > svg {
    width: 100px;
    height: 100px;
    margin: 5px;
    display: none;
    position: absolute;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    z-index: 999;
}

.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s 1s ease-in-out forwards;
    stroke-dashoffset: 1000;
}
.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
}
.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s 0s ease-in-out forwards;
    animation: dash-check 1s 0s ease-in-out forwards;
}
  
@-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
@keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
}
  
@-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
}
  
@keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
}


.check-shift{
    position: absolute;
    animation: checkShiftAnimation 0.6s 0.6s linear forwards;
}

@keyframes checkShiftAnimation {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -100px;
    }
}

.youcaptcha-slide {
    width: 240px;
    height: 240px;
}

.youcaptcha-slide-img {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 240px;
    max-height: 240px;
    animation: slideAnimation 0.6s forwards linear;
    animation-delay: 0.5s;
    z-index: 10;
    opacity: 0;
}

@keyframes slideAnimation {
    0% {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        max-width: 100px;
        max-height: 100px;
        z-index: 10;
        opacity: 0;
    }
    25% {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        max-width: 100px;
        max-height: 100px;
        z-index: 10;
        opacity: 0;
    }
    100% {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        max-width: 240px;
        max-height: 240px;
        z-index: 10;
        opacity: 1;
    }
}

.slideFade {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100px;
    height: 100px;
    opacity: 1;
    z-index: 15;
    animation: slideFadeAnimation 0.6s forwards linear;
    animation-delay: 0.5s;
}

@keyframes slideFadeAnimation {
    0% {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100px;
        height: 100px;
        opacity: 1;
        z-index: 15;
    }
    25% {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100px;
        height: 100px;
        opacity: 1;
        z-index: 15;
    }
    100% {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 240px;
        height: 240px;
        opacity: 0;
        z-index: 15;
    }
}

.fadeIn {
    animation: fadeInAnimation 1s forwards;
    animation-delay: 12.5;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

