.captcha-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 100;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    width: 720px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify-success-text {
    width: 0px;
    position: absolute;
    background-color: white;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow-x: hidden;
    flex-direction: column;
}

.challenge-text {
    position: absolute;
    width: 250px;
    background-color: white;
}

.show-text {
    animation: showTextAnimation 0.3s 0.2s linear forwards;
}
.hide-text {
    animation: hideTextAnimation 0.3s 0.1s linear forwards;
}
.show-text2 {
	animation: showTextAnimation 0.3s 0.3s linear forwards, fadeOutAnimation 1.5s 2.5s linear forwards;
}
  
@keyframes showTextAnimation {
    0% {
        width: 0px;
        opacity: 0;
    }
    80%{
        width: 250px;
        opacity: 0.2;
    }
    100% {
	    width: 250px;
        opacity: 1;
    }
}

@keyframes hideTextAnimation {
	0% {
		width: 250px;
	}
	100% {
		width: 0px;
	}
}

.fadeOutModalBack {
    animation: fadeOutModalBackAnimation 2.5s 0.6s ease-in-out forwards;
}

.fadeOutBack {
    animation: fadeOutBackAnimation 2.5s 0.6s ease-in-out forwards;
}

.fadeOutBack2 {
    animation: scrollToTargetAnimation 0.4s 0.1s linear forwards, fadeOutBackAnimation 0.2s 0.3s linear forwards, shrinkAnimation3 0.4s 0.1s ease-in-out forwards;
}

.fadeOutAll {
    animation: fadeOutAllAnimation 0.6s 0.1s linear forwards;
}

.fadeOutBackFast {
    animation: fadeOutBackAnimation 0.1s 0.1s linear forwards, fadeOutAnimation 0.1s 0.1s linear forwards;
}

.fadeOutFast {
	animation: fadeOutAnimation 1s 0.4s ease-in-out forwards;
}

.fadeOutSlow {
    animation: fadeOutAnimation 1.7s 1s ease-in forwards, rotateProductAnimation 1s 0.6s ease-in-out forwards;
}

.fadeInSlow {
    animation: fadeOutAnimation 2.5s 0.9s linear forwards;
}

.fadeInOut {
    z-index: 100;
    animation: fadeInAnimation 1s 1.6s linear forwards, innerScaleAnimation 0.5s 1.4s linear forwards;
}

.fadeInOut2 {
	z-index: 100;
	animation: fadeInAnimation 1s 1.6s linear forwards, rotateProductReverseAnimation 0.8s 0.6s linear forwards;
}

.marginShrink {
    animation: topMarginShrinkAnimation 0.2s 0.6s ease-in-out forwards;
}
  
@keyframes fadeOutBackAnimation {
    0% {
        border: none;
        box-shadow: none;
        background-color: rgba(255, 255, 255, 1);
    }
    100% {
        border: none;
        box-shadow: none;
        background-color: rgba(255, 255, 255, 0);
    }
}

@keyframes fadeOutModalBackAnimation {
    0% {
        border: none;
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0.5);
    }
    100% {
        border: none;
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes topMarginShrinkAnimation {
    0% {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }
    100% {
        margin-top: 0;
        margin-bottom: 0;
    }
}


.scrollToTarget {
    animation: scrollToTargetAnimation 2s 1s linear forwards;
}


@keyframes shrinkAnimation3 {
  0% {
    width: 402px;
    /* overflow-x: hidden; */
  }
  100% {
    width: 128px;
		/* height: 120px; */
    /* overflow-x: hidden; */
  }
}

  
@keyframes fadeOutAllAnimation {
    0% {
        opacity: 1;
        pointer-events: auto;
    }
    90% {
        opacity: 0;
        pointer-events: auto;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

.youcaptcha-modal-dialog > .modal-content {
    border: 0 !important;
}